.weather{
    width: 300px;
    border-radius: 15px;
    box-shadow: 10px -2px -20px 2px hsla(0, 0%, 0%, 0.3);
    color: #dafcfc;
    background-color: #131817cc;
    margin: 20px auto 0 auto;
    padding: 20px;
    
}
.top, .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.city{
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}
.weather-description{
    font-weight: 500;
    font-size: 15px;
    line-height: 1;
    margin: 0;
    text-transform: capitalize;

}
.weather-icon{
    width: 90px;
}
.temperature {
    font-weight: 600;
    font-size: 70px;
    width: auto;
    letter-spacing: -5px;
    margin: 10px 0;
}
.details{
    width: 100%;
    padding-left: 20px;
}
.parameter-row{
    display: flex;
    justify-content: space-between;
}
.parameter-label{
    text-align: left;
    font-weight: 600;
    font-size: 13px;
}
.parameter-value{
    text-align: right;
    font-weight: 600;
    font-size: 12px;
}
  